{% load sekizai_tags %}
{% load i18n %}
{% block energy %}
{% if user.is_staff or user.is_superuser %}
	<ol class="breadcrumb">
	  <li><a href="/">Home</a></li>
	  <li class="active">Household</li>
	  <p class="pull-right text-center bg-primary"><strong>{% trans "Administrator View - Household id" %}: {{ household.user }}</strong></p>
	</ol>				
{% endif %}	
<!-- Energy analysis -->
<div class="panel panel-default">
	<!-- chart menu/toolbar -->
	<div class="panel-heading clearfix">
    	<div class="pull-right">
    		<img src="{{STATIC_URL}}/images/pdf.png" alt="Export to PDF" title="Export to PDF" />
            <img src="{{STATIC_URL}}/images/save.png" alt="Save Raw Data" title="Save Raw Data" />
        </div>  
    </div>
	<!-- End chart menu/toolbar -->
	
	<!--  charts and table -->    
    <div class="panel-body">
    	<div>Graphs here..</div>
    	<div>Tables here and other info..</div>
    </div>
	<!--  End charts and table -->
</div>
<!-- End water analysis -->
{% endblock %}