{% extends "base.html" %}
{% load i18n %}
{% block pagetitle %}{% endblock %}
{% block sidebar %}
    <script>
        var page_view_url = "{% url "user_page_view" %}";
    </script>
    <div class="col-md-3 leftcol">
        <div class="panel panel-default">
            <div class="panel-heading">
                <small>
                    <a href="2" data-toggle="tab" onclick="activateTab('Usettings');" class="pull-right">{% trans "Update" %}</a>
                </small>
                <div class="panel-title">{% trans "USER" %}</div></div>
            <div class="panel-body">
                {% trans "Username" %}: {{user}}<br/>{% trans "Last Login" %}: {{user.last_login}}
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading"><small><a href="3" class="pull-right" data-toggle="tab" onclick="activateTab('Hsettings');">{% trans "Update" %}</a></small> <div class="panel-title">{% trans "HOUSEHOLD" %}</div></div>
            <div class="panel-body">
                <!--
                        <form class="form-inline">
                        {% trans "Household" %}: 
                        <select class="form-control" onchange="household($(this).val())">
                        <option value="2">Add Household...</option><option selected>First household</option>
                        </select>
                        </form><br/>
                         -->
                {% trans "Number of Occupants" %}: {{household.num_of_occupants}}
                | {% trans "Property type" %}:
                {%  if household.property_type == "Detached " %}
                    {% trans "Detached" %}
                {% elif household.property_type == "Semi Detached" %}
                    {% trans "Semi Detached" %}
                {% elif household.property_type == "Flat" %}
                    {% trans "Flat" %}
                {% elif household.property_type == "Tenament" %}
                    {% trans "Tenament" %}
                {% endif %}
                <hr/>
                <div id="map"></div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading"><div class="panel-title">{% trans "SUBSCRIPTION" %}</div></div>
            <div class="panel-body">
                {% trans "Water Tariff: Tariff1" %}<br/>{% trans "Rate: Fixed rate with Volumetric charge" %}<hr/>
                {% trans "Energy Tariff: Night Saver Rate: 3.25/Unit" %}
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading"><div class="panel-title">{% trans "NOTIFICATIONS" %}</div></div>
            <div class="panel-body">
                <div class="table-responsive" id="user_events">
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block sidebar_main %}
    <div class="col-md-3 leftcol">
        <div class="panel panel-default">
            <div class="panel-heading">
                <small><a href="{% url 'usersuper' %}" class="pull-right">{% trans "Update" %}</a></small>
                <div class="panel-title">{% trans "ADMINISTRATOR" %}</div>
            </div>
            <div class="panel-body">
                {% trans "Username" %}: {{user}}<br/>{% trans "Last Login" %}: {{user.last_login}}<br/>{% trans "Password" %}: ******* <small><a href="{% url 'usersuper' %}">[{% trans "Change" %}]</a></small>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading"><div class="panel-title">{% trans "OPTIONS" %}</div></div>
            <div class="panel-body">
                <ul class="nav nav-list">

                    <li><label class="tree-toggler nav-header">{% trans "Policy effects" %}</label>
                        <ul class="nav nav-list tree"><li><a href="{% url 'policy' %}">{% trans "Start Assessment" %}</a></li></ul>
                    </li>
                    <li><label class="tree-toggler nav-header">{% trans "Zones (DMAs)" %}</label>
                        <ul class="nav nav-list tree">
                            {% for dma in dmas %}
                                <li><a href="{% url 'dmas' dma.id %}">{% trans "DMA with id=" %}{{ dma }} - {{ dma.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

