{% load i18n %}
{% block summary %}
    {% if user.is_staff or user.is_superuser %}
        <ol class="breadcrumb">
            <li><a href="/">{% trans "Home" %}</a></li>
            <li class="active">{% trans "Household" %}</li>
            <p class="pull-right text-center bg-primary"><strong>{% trans "Administrator View - Household id" %}: {{ household.user }}</strong></p>
        </ol>
    {% endif %}
    <div class="panel panel-default">
        <div class="panel-heading"><div class="panel-title">{% trans "WATER" %}</div></div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading clickable">
                            <span class="glyphicon glyphicon-info-sign"></span> <strong>{% trans "Be Smart with Water in the House" %}</strong>
                            <span class="pull-right clickable"><i class="glyphicon glyphicon-minus"></i></span>
                        </div>
                        <div class="panel-body" id="fold">
                            <div class="col-md-10" style="font-size: 16px; color: #555; font-style: italic; text-align: center">
                            {% trans "Learn how you can improve the water efficiency of your household and how best to reduce your water consumption, through the new iWIDGET On-line Course on Water" %}!
                            </div>
                            <div class="col-md-2">
                                <a target="_blank" href="http://www.i-widget-elearning.eu/iWidget/login/index.php?CustomUsername={{ user.username }}&token=b4ea06d42eeeb30641abdaea91610a22"><button class="btn btn-primary" type="button">{% trans "Click to Learn More" %}</button></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p class="text-center bg-primary"><strong>{% trans "WATER CONSUMPTION" %}: {{ overview.weekday }} {{ overview.today_timestamp|date:"j/m/o" }}</strong></p>
                    <div class="table-responsive">
                        <table class="table table-condensed table-striped table-hover">
                            <thead class="bg-primary">
                            <tr>
                                <th>{% trans "Measurement Period" %}</th>
                                <th>{% trans "Consumption This Period" %}</th>
                                <th>{% trans "Consumption Previous Period (**)" %}</th>
                                <th>{% trans "Current Target" %} (***)</th>
                                <th>{% trans "Goal Achievement" %}</th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td style="font-weight: bold">{% trans "Current Day" %}</td>
                                    <td>{{ overview.today|floatformat:2 }} lit</td>
                                    <td>{{ overview.yesterday|floatformat:2 }} lit</td>
                                    <td>
                                        {{ overview.current_target_day }} lit
                                    </td>
                                    <td>
                                        {% for v in overview.today_lpd %}
                                            <img src="{{ STATIC_URL }}icon/smile.png" />
                                        {% empty %}
                                            <img src="{{ STATIC_URL }}icon/sad.png" />
                                        {% endfor %}
                                    </td>
                                </tr>
                                <tr>
                                    <td style="font-weight: bold">{% trans "Current Week" %}</td>
                                    <td>{{ overview.current_week|floatformat:2 }} lit</td>
                                    <td>{{ overview.last_week|floatformat:2 }} lit</td>
                                    <td>
                                        {{ overview.current_target_week }} lit
                                    </td>
                                    <td>
                                        {% for v in overview.current_week_lpd %}
                                            <img src="{{ STATIC_URL }}icon/smile.png" />
                                        {% empty %}
                                            <img src="{{ STATIC_URL }}icon/sad.png" />
                                        {% endfor %}
                                    </td>
                                </tr>
                                <tr>
                                    <td style="font-weight: bold">{% trans "Current Month" %} (*)</td>
                                    <td>{{ overview.current_month_m3|floatformat:2 }} m&#179;</td>
                                    <td>{{ overview.last_month_m3|floatformat:2 }} m&#179;</td>
                                    <td>
                                        {{ overview.current_target_month_m3 }} m&#179;
                                    </td>
                                    <td>
                                        {% for v in overview.current_month_lpd %}
                                            <img src="{{ STATIC_URL }}icon/smile.png" />
                                        {% empty %}
                                            <img src="{{ STATIC_URL }}icon/sad.png" />
                                        {% endfor %}
                                    </td>
                                </tr>
                                <tr>
                                    <td style="font-weight: bold">{% trans "Current Year" %} (*)</td>
                                    <td>{{ overview.current_year|floatformat:2 }} m&#179;</td>
                                    <td>{{ overview.last_year|floatformat:2 }} m&#179;</td>
                                    <td>
                                        {{ overview.current_target_year }} m&#179;
                                    </td>
                                    <td>
                                        {% for v in overview.current_year_lpd %}
                                            <img src="{{ STATIC_URL }}icon/smile.png" />
                                        {% empty %}
                                            <img src="{{ STATIC_URL }}icon/sad.png" />
                                        {% endfor %}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <p>
                        <em>(*)  m&#179; {% trans " is 1000 litres" %}</em>
                    </p>
                    <p>
                        <em>(**) {%  trans "The presented information corresponds to previous period of the same length, e.g. previous day, week, month, year" %}</em>
                    </p>

                    <p>
                        <em>(***) {% trans "Target consumption is a value calculated by target water use (in litres per person per day) multiplied by the number of occupants of your house. There are 6 target levels:" %} .</em>
                    </p>
                    <table class="table table_container">
                        <thead>
                            <tr>
                                <td><img src="{{ STATIC_URL }}icon/smile.png" /><img src="{{ STATIC_URL }}icon/smile.png" /><img src="{{ STATIC_URL }}icon/smile.png" /><img src="{{ STATIC_URL }}icon/smile.png" /><img src="{{ STATIC_URL }}icon/smile.png" /></td>
                                <td><img src="{{ STATIC_URL }}icon/smile.png" /><img src="{{ STATIC_URL }}icon/smile.png" /><img src="{{ STATIC_URL }}icon/smile.png" /><img src="{{ STATIC_URL }}icon/smile.png" /></td>
                                <td><img src="{{ STATIC_URL }}icon/smile.png" /><img src="{{ STATIC_URL }}icon/smile.png" /><img src="{{ STATIC_URL }}icon/smile.png" /></td>
                                <td><img src="{{ STATIC_URL }}icon/smile.png" /><img src="{{ STATIC_URL }}icon/smile.png" /></td>
                                <td><img src="{{ STATIC_URL }}icon/smile.png" /></td>
                                <td><img src="{{ STATIC_URL }}icon/sad.png" /></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>&le; 80 {% trans "ltr/person/day" %}</td>
                                <td>&le; 90 {% trans "l/p/d" %}</td>
                                <td>&le; 105 {% trans "l/p/d" %}</td>
                                <td>&le; 110 {% trans "l/p/d" %}</td>
                                <td>&le; 120 {% trans "l/p/d" %}</td>
                                <td>&gt; 120 {% trans "l/p/d" %}</td>
                            </tr>
                        </tbody>
                    </table>
                <em>{% trans "If you miss a target, the target consumption is adjusted to the next one. The more smilies you gather, the more water efficient is your household." %}</em>
                </div>
            </div> <!--row -->
        </div>
    </div> <!-- water panel -->

    {% if has_energy %}
        <div class="panel panel-default">
        <div class="panel-heading"><div class="panel-title">{% trans "ELECTRICITY" %}</div></div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <p class="text-center bg-primary"><strong>{% trans "ENERGY CONSUMPTION as of" %} {{ overview.weekday }} {{ overview.today_timestamp|date:"j/m/o" }}</strong></p>
                    <div class="table-responsive">
                        <table class="table table-condensed table-striped table-hover">
                            <thead class="bg-primary">
                            <tr>
                                <th>{% trans "Measurement Period" %}</th>
                                <th>{% trans "Consumption This Period" %}</th>
                                <th>{% trans "Consumption Previous Period (**)" %}</th>
                                <th>{% trans "Current Target" %} (***)</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td style="font-weight: bold">{% trans "Current Day" %}</td>
                                <td>{{ overview_nrg.today|floatformat:2 }} Wh</td>
                                <td>{{ overview_nrg.yesterday|floatformat:2 }} Wh</td>
                                <td>
                                    {{ overview_nrg.current_target_day }} Wh
                                </td>
                            </tr>
                            <tr>
                                <td style="font-weight: bold">{% trans "Current Week" %}</td>
                                <td>{{ overview_nrg.current_week|floatformat:2 }} Wh</td>
                                <td>{{ overview_nrg.last_week|floatformat:2 }} Wh</td>
                                <td>
                                    {{ overview_nrg.current_target_week }} Wh
                                </td>
                            </tr>
                            <tr>
                                <td style="font-weight: bold">{% trans "Current Month" %} (*)</td>
                                <td>{{ overview_nrg.current_month|floatformat:2 }} Wh</td>
                                <td>{{ overview_nrg.last_month|floatformat:2 }} Wh</td>
                                <td>
                                    {{ overview_nrg.current_target_month }} Wh
                                </td>
                            </tr>
                            <tr>
                                <td style="font-weight: bold">{% trans "Current Year" %} (*)</td>
                                <td>{{ overview_nrg.current_year|floatformat:2 }} Wh;</td>
                                <td>{{ overview_nrg.last_year|floatformat:2 }} Wh</td>
                                <td>
                                    {{ overview_nrg.current_target_year }} Wh
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div> <!--row -->
        </div>
    </div>
    {% endif %}
{% endblock %}	               