{% load i18n %}
{% block summary %}
    {% if user.is_staff or user.is_superuser %}
        <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li class="active">Household</li>
            <p class="pull-right text-center bg-primary"><strong>{% trans "Administrator View - Household id" %}: {{ household.user }}</strong></p>
        </ol>
    {% endif %}
    <div class="panel panel-default">
        <div class="panel-heading"><div class="panel-title">{% trans "WATER" %}</div></div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading clickable">
                            <span class="glyphicon glyphicon-info-sign"></span> <strong>Be Smart with Water in the House</strong>
                            <span class="pull-right clickable"><i class="glyphicon glyphicon-minus"></i></span>
                        </div>
                        <div class="panel-body" id="fold">
                            {% trans "Learn how you can improve the water efficiency of your household and how best to reduce your water consumption, through the new iWIDGET On-line Course on Water" %}!
                            {% trans "Join the" %} <a href="http://www.i-widget-elearning.eu/iWidget/" target="__blank">{% trans "Be Smart with Water in the House" %}</a> {% trans "course using the link below and become an active player in water efficiency challenge" %}.
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <p class="text-center bg-primary"><strong>{% trans "WATER CONSUMPTION" %}</strong></p>
                    <div class="table-responsive">
                        <table class="table table-condensed table-striped table-hover">
                            <thead class="bg-primary">
                            <tr>
                                <th>{% trans "Measurement Period" %}</th>
                                <th>{% trans "Consumption" %}</th>
                                <th>{% trans "Consumption Previous Period (**)" %}</th>
                                <th>{% trans "Current Target" %}</th>
                                <th>{% trans "Goal Achievement" %}</th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{% trans "Current Day" %} ({{overview.today_timestamp|date:"j/m/o"}})</td>
                                    <td>{{ overview.today|floatformat:2 }}</td>
                                    <td>{{ overview.yesteday|floatformat:2 }}</td>
                                    <td>
                                        {% for v in overview.today_lpd %}
                                            <img src="{{ STATIC_URL }}icon/smile.png" />
                                        {% empty %}
                                            <img src="{{ STATIC_URL }}icon/sad.png" />
                                        {% endfor %}
                                    </td>
                                    <td>--</td>
                                </tr>
                                <tr>
                                    <td>{% trans "Current Week" %}}})</td>
                                    <td>{{ overview.current_week|floatformat:2 }}</td>
                                    <td>{{ overview.last_week|floatformat:2 }}</td>
                                    <td>
                                        {% for v in overview.current_week_lpd %}
                                            <img src="{{ STATIC_URL }}icon/smile.png" />
                                        {% empty %}
                                            <img src="{{ STATIC_URL }}icon/sad.png" />
                                        {% endfor %}
                                    </td>
                                    <td>--</td>
                                </tr>
                                <tr>
                                    <td>{% trans "Current Month" %}}})</td>
                                    <td>{{ overview.current_month|floatformat:2 }}</td>
                                    <td>{{ overview.last_month|floatformat:2 }}</td>
                                    <td>
                                        {% for v in overview.current_month_lpd %}
                                            <img src="{{ STATIC_URL }}icon/smile.png" />
                                        {% empty %}
                                            <img src="{{ STATIC_URL }}icon/sad.png" />
                                        {% endfor %}
                                    </td>
                                    <td>--</td>
                                </tr>
                                <tr>
                                    <td>{% trans "Current Year" %}}})</td>
                                    <td>{{ overview.current_year|floatformat:2 }}</td>
                                    <td>{{ overview.last_year|floatformat:2 }}</td>
                                    <td>
                                        {% for v in overview.current_year_lpd %}
                                            <img src="{{ STATIC_URL }}icon/smile.png" />
                                        {% empty %}
                                            <img src="{{ STATIC_URL }}icon/sad.png" />
                                        {% endfor %}
                                    </td>
                                    <td>--</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <p>
                        <strong><em>(*) {% trans "Target consumption is a value calculated by target water use (in litres per person per day) multiplied by the number of occupants of your house. There are 6 target levels:" %} .</em></strong>
                    </p>
                    <p>
                        <strong><em>(**) The presented information corresponds to previous period of the same length, e.g. previous day, week, month, year</em></strong>
                    </p>

                    <table>
                        <tr>
                            <th>Consumption Level</th>
                            <th>Smiles Awarded</th>
                        </tr>
                        <tr>
                            <td>&le; 80 l/p/d</td>
                            <td><img src="{{ STATIC_URL }}icon/smile.png" /><img src="{{ STATIC_URL }}icon/smile.png" /><img src="{{ STATIC_URL }}icon/smile.png" /><img src="{{ STATIC_URL }}icon/smile.png" /><img src="{{ STATIC_URL }}icon/smile.png" /></td>
                        </tr>
                        <tr>
                            <td>&le; 90 l/p/d</td>
                            <td><img src="{{ STATIC_URL }}icon/smile.png" /><img src="{{ STATIC_URL }}icon/smile.png" /><img src="{{ STATIC_URL }}icon/smile.png" /><img src="{{ STATIC_URL }}icon/smile.png" /></td>
                        </tr>
                        <tr>
                            <td>&le; 105 l/p/d</td>
                            <td><img src="{{ STATIC_URL }}icon/smile.png" /><img src="{{ STATIC_URL }}icon/smile.png" /><img src="{{ STATIC_URL }}icon/smile.png" /></td>
                        </tr>
                        <tr>
                            <td>&le; 110 l/p/d</td>
                            <td><img src="{{ STATIC_URL }}icon/smile.png" /><img src="{{ STATIC_URL }}icon/smile.png" /></td>
                        </tr>
                        <tr>
                            <td>&le; 120 l/p/d</td>
                            <td><img src="{{ STATIC_URL }}icon/smile.png" /></td>
                        </tr>
                        <tr>
                            <td>&le; 150 l/p/d</td>
                            <td><img src="{{ STATIC_URL }}icon/sad.png" /></td>
                        </tr>
                    </table>
                <strong><em>If you miss a target, the target consumption is adjusted to the next one. </em></strong>
                </div>
                <div class="col-md-6">
                    <p class="text-center bg-primary"><strong>{% trans "WATER COST" %}</strong></p>
                    <div class="table-responsive">
                        <table class="table table-condensed table-striped table-hover">
                            <thead class="bg-primary"><tr><th>{% trans "Accounting period" %}</th><th>{% trans "Current Year" %}({{ overview.today_timestamp.year }})</th><th>{% trans "Previous Year" %} ({{ overview.today_timestamp.year|add:"-1" }})</th></tr></thead>
                            <tbody>
                            <tr>
                                <td>{% trans "Last Seven Day" %} ({{ overview.last_7_days_timestamp|date:"j/m" }} - {{ overview.today_timestamp|date:"j/m" }})</td>
                                <td><strong>{{ overview.last_7_days_cost|floatformat:2 }} &euro;</strong></td>
                                <td>{{ overview.last_7_days_last_year_cost|floatformat:2 }} &euro;</td>
                            </tr>
                            <tr>
                                <td>{% trans "Current month" %} ({{overview.today_timestamp|date:"F"}})</td>
                                <td><strong>{{ overview.current_month_cost|floatformat:2 }} &euro;</strong></td>
                                <td>{{ overview.current_month_last_year_cost|floatformat:2 }} &euro;</td>
                            </tr>
                            <tr>
                                <td>{% trans "Current year" %} ({{overview.today_timestamp|date:"o"}})</td>
                                <td><strong>{{ overview.current_year_cost|floatformat:2 }} &euro;</strong></td>
                                <td>{{ overview.last_year_cost|floatformat:2 }} &euro;</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div> <!--row -->
        </div>
    </div> <!-- water panel -->

    <div class="panel panel-default">
        <div class="panel-heading"><div class="panel-title">{% trans "ELECTRICITY" %}</div></div>
        <div class="panel-body">
        </div>
    </div>

{% endblock %}	               