{% load sekizai_tags %}
{% load i18n %}
{% load uc3_6tags %}

<table class="table table-condensed table-striped table-hover">
    <thead class="">
    <tr>
        <th></th>
        <th>{% trans "Date" %}</th>
        <th>{% trans "Event Message" %}</th>
        <th>{% trans "Action" %}</th>
    </tr>
    </thead>
    <tbody>
    {% for event in events %}
        <tr>
            <td><i class="glyphicon glyphicon-exclamation-sign" style="color: #d62728;"></i></td>
            <td style="font-weight: normal">{{ event.detected|yesterday|date:"d M, Y" }}</td>
            {% if event.notification == "leakage" %}
                <td style="font-weight: normal; color: #d62728">{% trans "Possible leakage!" %}</td>
            {% endif %}
            {% if event.notification == "burst" %}
                <td style="font-weight: normal">{% trans "Possible burst!" %}</td>
            {% endif %}
            <td style="font-weight: normal"><a href="javascript:void(0);" onclick="hideEventAndReload('{{ event.id }}', '{{ request.user.username }}');">{% trans "Hide" %}</a></td>
        </tr>
    {% empty %}
        <td colspan="4"><p class="text-center" style="color: #555; font-style: italic">{% trans "No events to report, at the moment." %}</p></td>
    {% endfor %}
    </tbody>
</table>


