{% load i18n %}
{% load sekizai_tags %}
{% load general_tags %}


<h2 class="text-center">{% trans "Energy related water consumption" %}</h2>
<div class="col-md-7">
    <div id="pie_uc23" style="width: 100%; height: 600px;">

    </div>
</div>
<div class="col-md-5">
    <table class="table table-condensed table-striped table-hover">
        <thead class="">
        <tr>
            <th>{% trans "Type" %}</th>
            <th>{% trans "Consumption" %}</th>
            <th>{% trans "Carbon Emissions" %}</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <strong>{% trans "Energy to heat water" %}</strong>
            </td>
            <td>
                {{ energy }} kWh
            </td>
            <td>
                {{ energy_carbon }} KgCO<sub>2</sub>
            </td>
        </tr>
        <tr>
            <td>
                <strong>{% trans "Rest uses" %}</strong>
            </td>
            <td>
                {{ rest }} kWh
            </td>
            <td>
                {{ rest_carbon }} KgCO<sub>2</sub>
            </td>
        </tr>
        <tr>
            <td>
                <strong>{% trans "Total" %}</strong>
            </td>
            <td>
                {{ total }} kWh
            </td>
            <td>
                {{ total_carbon }} KgCO<sub>2</sub>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<script>
    var pie_data = [
        { label: '{% trans "Energy Related Carbon Emissions" %}', data: {{ energy_carbon }}, color: "#4B966C" },
        { label: '{% trans "Rest Uses Carbon Emissions" %}', data: {{ rest_carbon }}, color: "#893C4E" }
    ];

    var pie_chart = $("#pie_uc23");

    $.plot(pie_chart, pie_data, {
        series: {
            pie: {
                show: true,
                radius: 6 / 7,
                label:{
                    show: true,
                    formatter: function (label, series) {
                        return '<div style="font-size:8pt;text-align:center;padding:2px;color:black;text-shadow: 2px 2px 2px rgba(150, 150, 150, 0.81);">' + label + '<br/>' + series.data[0][1] + ' KgCO<sub>2</sub>. </div>';

                    }
                }
            }
        },
        legend: {
            show: false
        }
    });
</script>
