{% load sekizai_tags %}
{% load i18n %}
{% block c_uc4.1 %}

<script type="text/javascript">
var start = dateutil.getdateyear("{{stdate}}");
var end   = dateutil.getdateyear("{{endate}}");
var yearlist = dateutil.getyearlist(parseInt(start),parseInt(end));

function uc41Chart(data)
{
	var w = domutil.getdivwidth("c_uc41chart"); //get width of chart div as it changed dynamically due to bootstrap responsive layout
	var dim = {"width":w,"height":450}; //width and height of chart container	
	chartutil.uc32barplot1("#c_uc41chart",dim,data["chart"]);
	
	var values= data["electdata"]["month"];
	household = values["sum_units"];
	occupant  = values["unit_person"];
	$("#c_uc41month").html("<strong>Over 1 Months Period:</strong><br/><div class='text-primary'>Units consumed for household: "+household+" (m<sup>3</sup>), Units consumed per occupant: "+occupant+" (m<sup>3</sup>)</div>");

	var values= data["electdata"]["quarter"];
	household = values["sum_units"];
	occupant  = values["unit_person"];
	$("#c_uc41quarter").html("<strong>Over 3 Months Period:</strong><br/><div class='text-primary'>Units consumed for household: "+household+" (m<sup>3</sup>), Units consumed per occupant: "+occupant+" (m<sup>3</sup>)</div>");	

	var values= data["electdata"]["half"];
	household = values["sum_units"];
	occupant  = values["unit_person"];
	$("#c_uc41half").html("<strong>Over 6 Months Period:</strong><br/><div class='text-primary'>Units consumed for household: "+household+" (m<sup>3</sup>), Units consumed per occupant: "+occupant+" (m<sup>3</sup>)</div>");	

	var values= data["electdata"]["year"];
	household = values["sum_units"];
	occupant  = values["unit_person"];
	$("#c_uc41yearly").html("<strong>Over 12 Months Period:</strong><br/><div class='text-primary'>Units consumed for household: "+household+" (m<sup>3</sup>), Units consumed per occupant: "+occupant+" (m<sup>3</sup>)</div>");	

	var values= data["waterdata"]["month"];
	household = values["sum_units"];
	occupant  = values["unit_person"];
	$("#c_uc41Month").html("<strong>Over 1 Months Period:</strong><br/><div class='text-primary'>Units consumed for household: "+household+" (m<sup>3</sup>), Units consumed per occupant: "+occupant+" (m<sup>3</sup>)</div>");

	var values= data["waterdata"]["quarter"];
	household = values["sum_units"];
	occupant  = values["unit_person"];
	$("#c_uc41Quarter").html("<strong>Over 3 Months Period:</strong><br/><div class='text-primary'>Units consumed for household: "+household+" (m<sup>3</sup>), Units consumed per occupant: "+occupant+" (m<sup>3</sup>)</div>");	

	var values= data["waterdata"]["half"];
	household = values["sum_units"];
	occupant  = values["unit_person"];
	$("#c_uc41Half").html("<strong>Over 6 Months Period:</strong><br/><div class='text-primary'>Units consumed for household: "+household+" (m<sup>3</sup>), Units consumed per occupant: "+occupant+" (m<sup>3</sup>)</div>");	

	var values= data["waterdata"]["year"];
	household = values["sum_units"];
	occupant  = values["unit_person"];
	$("#c_uc41Yearly").html("<strong>Over 12 Months Period:</strong><br/><div class='text-primary'>Units consumed for household: "+household+" (m<sup>3</sup>), Units consumed per occupant: "+occupant+" (m<sup>3</sup>)</div>");	
	
}

$(window).load(function() {
	var data = jQuery.parseJSON("{{c_uc41data|escapejs}}");
	if(data==null)
		return;   
	
	//on page load reset form
	formutil.resetForm('#c_uc41-form');
	
	
	//get tab value and if this tab is selected then draw the chart 
	var id = window.location.hash;
    if(domutil.hasCssclass("#c_uc41container","hide") && id=="#cuc41") //tab id value, need to make global to make effective and avoid error
    {
    	domutil.removeCssclass("#c_uc41container","hide"); 	
    	uc41Chart(data);
    }//--end if	
});

</script>

{% if c_uc41data|escapejs == "null" %}
<div class="jumbotron">
  <h2>{% trans "Welcome to iWIDGET" %}!</h2>
  <p>{% trans "Not enough data is available for analysis (Consumer use case C_UC4.1)" %}</p>
</div>
{% else %} 
<div class="panel panel-default">
	<!-- chart menu/toolbar -->
	<div class="panel-heading clearfix">
	 <div class="row">
    	<div class="pull-right col-md-1">
    		<img src="{{STATIC_URL}}/images/pdf.png"  alt="Export to PDF" title="Export to PDF" />
            <img src="{{STATIC_URL}}/images/save.png" alt="Save Raw Data" title="Save Raw Data" />
        </div>
		<div class="col-md-10">
		<div id="c_uc41-msg"></div>
		<form class="form-inline" id="c_uc41-form" role="form" method="POST" action="{% url 'c_uc41' %}">
			{% csrf_token %}  

		<label class="radio inline c_uc41period">
			<input type="radio" name="c_uc41_per" id="c_uc41_per" value="3" /> Next 3 Months
		</label>
		<label class="radio inline c_uc41period">
			<input type="radio" name="c_uc41_per" id="c_uc41_per" value="6" /> Next 6 Months
		</label>		
		<label class="radio inline c_uc41period">
			<input type="radio" name="c_uc41_per" id="c_uc41_per" value="12" /> Next 12 Months
		</label>	
		<button type="button" class="btn btn-primary" onClick="apputil.sendToserver('#c_uc41-form');">{% trans "Forecast" %}</button>
		</form>     
		</div>
	 </div>
	 <br/>
    </div>    
	<!-- End chart menu/toolbar -->

	<!--  charts and table -->
	<div class="panel-body" id="panel">
		<div id="c_uc41cont" class="row hide">
		<div id="c_uc41title"><p class="bg-primary text-center"><strong></strong></p></div>
		<div class="col-md-5" id="c_uc41chartcont"></div>
		<div class="col-md-4" id="c_uc41donutchart"></div>
		<div class="col-md-3">
		    <div class="panel panel-primary">
		        <div class="panel-heading">{% trans "WATER USAGE SUMMARY" %}</div>
		        <ul class="list-group list-group-flush text-center">
		            <li id="c_uc41household" class="list-group-item"></li>
		            <li id="c_uc41occupant" class="list-group-item"></li>
					<li class="list-group-item"><a target="_blank" href={% url 'timeseries_detail' tsid %}>{% trans "Open time series" %}</a></li>		            
		        </ul>
		    </div>
		    <div class="panel panel-primary">
		        <div class="panel-heading">{% trans "ELECTRICITY USAGE SUMMARY" %}</div>
		        <ul class="list-group list-group-flush text-center">
		            <li id="c_uc41hhold" class="list-group-item"></li>
		            <li id="c_uc41occup"  class="list-group-item"></li>
		        </ul>
		    </div>		    
		</div>		
		</div>
			
		<div class="row hide" id="c_uc41container">
			<div id="c_uc41title"><p class="bg-primary text-center"><strong>Your last 12 months Water bill comparison with Electric bill associated with water use</strong></p></div>	
			<div class="col-md-7" id="c_uc41chart"></div>
			<div class="col-md-5" id="c_uc41summary">
			    <div class="panel panel-primary">
			        <div class="panel-heading">{% trans "WATER USAGE SUMMARY" %}</div>
			        <ul class="list-group list-group-flush">
				        <li class="list-group-item" id="c_uc41Yearly"></li>
				        <li class="list-group-item" id="c_uc41Half"></li>
				        <li class="list-group-item" id="c_uc41Quarter"></li>
				        <li class="list-group-item" id="c_uc41Month"></li>
						<li class="list-group-item text-center"><a target="_blank" href={% url 'timeseries_detail' tsid %}>{% trans "Open time series" %}</a></li>				        
			        </ul>
			    </div>
			    <div class="panel panel-primary">
			        <div class="panel-heading">{% trans "ELECTRICITY USAGE SUMMARY" %}</div>
			        <ul class="list-group list-group-flush">
				        <li class="list-group-item" id="c_uc41yearly"></li>
				        <li class="list-group-item" id="c_uc41half"></li>
				        <li class="list-group-item" id="c_uc41quarter"></li>
				        <li class="list-group-item" id="c_uc41month"></li>
			        </ul>
			    </div>				    				
			</div>		
		</div>							
	</div>
	<!--  End charts and table -->	        
</div>
{% endif %}
<!-- End use case 3.4 -->
{% endblock %}