{% load sekizai_tags %}
{% load i18n %}
{% block c_uc3.4 %}
<script type="text/javascript">
var start 	 = dateutil.getdateyear("{{stdate}}");
var end   	 = dateutil.getdateyear("{{endate}}");
var yearlist = dateutil.getyearlist(parseInt(start),parseInt(end));

function uc34Chart(data)
{
	//alert(data[0]["chart"]);
	//alert(JSON.stringify(data["effdata"]));
	
	var w = domutil.getdivwidth("c_uc34chart"); //get width of chart div as it changed dynamically due to bootstrap responsive layout
	var dim = {"width":w,"height":450}; //width and height of chart container	
	chartutil.uc32barplot1("#c_uc34chart",dim,data["chart"], data["currency"]);
	
	var values= data["yourdata"]["month"];
	household = values["sum_units"];
	occupant  = values["unit_person"];
	$("#c_uc34month").html("<strong>Over 1 Months Period:</strong><br/><div class='text-primary'>Units consumed for household: "+household+" (m<sup>3</sup>), Units consumed per occupant: "+occupant+" (m<sup>3</sup>)</div>");

	values    = data["yourdata"]["quarter"];
	household = values["sum_units"];
	occupant  = values["unit_person"];
	$("#c_uc34quarter").html("<strong>Over 3 Months Period:</strong><br/><div class='text-primary'>Units consumed for household: "+household+" (m<sup>3</sup>), Units consumed per occupant: "+occupant+" (m<sup>3</sup>)</div>");	

	values    = data["yourdata"]["half"];
	household = values["sum_units"];
	occupant  = values["unit_person"];
	$("#c_uc34half").html("<strong>{% trans "Over 6 Months Period" %}:</strong><br/><div class='text-primary'>{% trans "Units consumed for household" %}: "+household+" (m<sup>3</sup>), {% trans "Units consumed per occupant" %}: "+occupant+" (m<sup>3</sup>)</div>");

	values    = data["yourdata"]["year"];
	household = values["sum_units"];
	occupant  = values["unit_person"];
	$("#c_uc34yearly").html("<strong>{% trans "Over 12 Months Period" %}:</strong><br/><div class='text-primary'>{% trans "Units consumed for household" %}: "+household+" (m<sup>3</sup>), {% trans "Units consumed per occupant" %}: "+occupant+" (m<sup>3</sup>)</div>");

	values= data["effdata"]["1 Month"];
	household = values["sum_units"];
	occupant  = values["unit_person"];
	$("#c_uc34Month").html("<strong>{% trans "Over 1 Months Period" %}:</strong><br/><div class='text-muted'>{% trans "Units consumed for household" %}: "+household+" (m<sup>3</sup>), {% trans "Units consumed per occupant" %}: "+occupant+" (m<sup>3</sup>)</div>");

	values= data["effdata"]["3 Month"];
	household = values["sum_units"];
	occupant  = values["unit_person"];
	$("#c_uc34Quarter").html("<strong>{% trans "Over 3 Months Period" %}:</strong><br/><div class='text-muted'>{% trans "Units consumed for household" %}: "+household+" (m<sup>3</sup>), {% trans "Units consumed per occupant" %}: "+occupant+" (m<sup>3</sup>)</div>");

	values= data["effdata"]["6 Month"];
	household = values["sum_units"];
	occupant  = values["unit_person"];	
	$("#c_uc34Half").html("<strong>{% trans "Over 6 Months Period" %}:</strong><br/><div class='text-muted'>{% trans "Units consumed for household" %}: "+household+" (m<sup>3</sup>), {% trans "Units consumed per occupant" %}: "+occupant+" (m<sup>3</sup>)</div>");
	
	values= data["effdata"]["12 Month"];
	household = values["sum_units"];
	occupant  = values["unit_person"];	
	$("#c_uc34Yearly").html("<strong>{% trans "Over 12 Months Period" %}:</strong><br/><div class='text-muted'>{% trans "Units consumed for household" %}: "+household+" (m<sup>3</sup>), {% trans "Units consumed per occupant" %}: "+occupant+" (m<sup>3</sup>)</div>");
}

$(window).load(function() {
	var data = jQuery.parseJSON("{{c_uc34data|escapejs}}");	
	if(data==null)
		return;	

	//reset form when page refresh
	formutil.resetForm('#c_uc34-form');
	
	domutil.setselect("#c_uc34endyear",yearlist);
	domutil.setselect("#c_uc34styear",yearlist);
	domutil.setselect("#c_uc34_seasonyear",yearlist);
	
	var id = window.location.hash;
    if(domutil.hasCssclass("#c_uc34container","hide") && id=="#cuc34") //tab id value, need to make global to make effective and avoid error
    {
    	domutil.removeCssclass("#c_uc34container","hide");
    	uc34Chart(data);
    }//--end if	
	
});

function c_uc34toggle()
{
	var radioval = domutil.getradiovalue('c_uc34_per');
	if(radioval=="season")
	{
		domutil.removeCssclass('#c_uc34_season','hide');
		domutil.setCssclass('#c_uc34_daterange','hide');
	}
	else if(radioval=="days")
	{
		domutil.setCssclass('#c_uc34_season','hide');
		domutil.removeCssclass('#c_uc34_daterange','hide');		
	}
	else
	{
		domutil.setCssclass('#c_uc34_daterange','hide');
		domutil.setCssclass('#c_uc34_season','hide');
	}	
}
</script>

{% if c_uc34data|escapejs == "null" %}
<div class="jumbotron">
  <h2>{% trans "Welcome to iWIDGET" %}!</h2>
  <p>{% trans "Not enough data is available for analysis (Consumer use case C_UC3.4)" %}</p>
</div>
{% else %} 
<div class="panel panel-default">
	<!-- chart menu/toolbar -->
	<div class="panel-heading clearfix">
	 <div class="row">
    	<div class="pull-right col-md-1">
    		<img src="{{STATIC_URL}}/images/pdf.png"  alt="Export to PDF" title="Export to PDF" />
            <img src="{{STATIC_URL}}/images/save.png" alt="Save Raw Data" title="Save Raw Data" />
        </div>
		<div class="col-md-10">
		<div id="c_uc34-msg"></div>
		<form class="form-inline" id="c_uc34-form" role="form" method="POST" action="{% url 'c_uc34' %}">
			{% csrf_token %}  
		<!-- 
		<select id="c_uc34select" class="form-control" required="true" onchange="c_uc34disabled();">		
		<option value="summer">{% trans "Summer" %}</option>
		<option value="winter">{% trans "Winter" %}</option>
		<option value="autumn">{% trans "Autumn" %}</option>
		<option value="spring">{% trans "Spring" %}</option>		
		<option value="night">{% trans "Night Usage" %}</option>
		<option value="day">{% trans "Day usage" %}</option>
		</select>
		<select id="c_uc34year" class="form-control" required="true"></select>
		-->
		<label class="radio inline c_uc34period">
			<input type="radio" name="c_uc34_per" id="c_uc34_per" value="season" onchange="c_uc34toggle();" /> {% trans "Select Season" %}
		</label>		
		<label class="radio inline c_uc34period">
			<input type="radio" name="c_uc34_per" id="c_uc34_per" value="days"  onchange="c_uc34toggle();" /> {% trans "Specify Period" %}
		</label>
		<label class="radio inline c_uc34period">
			<input type="radio" name="c_uc34_per" id="c_uc34_per" value="3" onclick="c_uc34toggle();"/> {% trans "Last 3 Months" %}
		</label>
		<label class="radio inline c_uc34period">
			<input type="radio" name="c_uc34_per" id="c_uc34_per" value="6" onclick="c_uc34toggle();"/> {% trans "Last 6 Months" %}
		</label>		
		<label class="radio inline c_uc34period">
			<input type="radio" name="c_uc34_per" id="c_uc34_per" value="12" onclick="c_uc34toggle();"/> {% trans "Last 12 Months" %}
		</label>	
		<button type="button" class="btn btn-primary" onClick="apputil.sendToserver('#c_uc34-form');">{% trans "Compare" %}</button>
		</form>     
		</div>
	 </div>
	 <br/>
	 <div class="row" id="_uc34_daterange">
	 	<div class="form-inline col-md-6 hide" id="c_uc34_season">
			<select id="c_uc34_seasons" class="form-control" required="true">
                <option value="summer">{% trans "Summer" %}</option>
                <option value="winter">{% trans "Winter" %}</option>
                <option value="autumn">{% trans "Autumn" %}</option>
                <option value="spring">{% trans "Spring" %}</option>
            </select>
			<select id="c_uc34_seasonyear" class="form-control" required="true"></select>	 				 	
	 	</div>	 
		<div class="form-inline col-md-6 hide" id="c_uc34_daterange">
		 	<div class="form-group">
			<select id="c_uc34stmonth" class="form-control" required="true">
                <option value="1">{% trans "January" %}</option>
                <option value="2">{% trans "February" %}</option>
                <option value="3">{% trans "March" %}</option>
                <option value="4">{% trans "April" %}</option>
                <option value="5">{% trans "May" %}</option>
                <option value="6">{% trans "June" %}</option>
                <option value="7">{% trans "July" %}</option>
                <option value="8">{% trans "August" %}</option>
                <option value="9">{% trans "September" %}</option>
                <option value="10">{% trans "October" %}</option>
                <option value="11">{% trans "November" %}</option>
                <option value="12">{% trans "December" %}</option>
			</select>
			</div>
			<div class="form-group">
			<select id="c_uc34styear" class="form-control" required="true">

			</select>			
			</div>
			{% trans "TO" %}
		 	<div class="form-group">
			<select id="c_uc34endmonth" class="form-control" required="true">
                <option value="1">{% trans "January" %}</option>
                <option value="2">{% trans "February" %}</option>
                <option value="3">{% trans "March" %}</option>
                <option value="4">{% trans "April" %}</option>
                <option value="5">{% trans "May" %}</option>
                <option value="6">{% trans "June" %}</option>
                <option value="7">{% trans "July" %}</option>
                <option value="8">{% trans "August" %}</option>
                <option value="9">{% trans "September" %}</option>
                <option value="10">{% trans "October" %}</option>
                <option value="11">{% trans "November" %}</option>
                <option value="12">{% trans "December" %}</option>
			</select>
			</div>		
		 	<div class="form-group">
			<select id="c_uc34endyear" class="form-control" required="true"></select>
			</div>					
		 <!-- 
			 <div class="form-group col-md-3">
			 <div class="bfh-datepicker" data-min="{{stdate}}" data-max="{{endate}}" data-date="{{stdate}}" data-name="stdate" id="stdate" data-format="d-m-y"></div>
			 </div>
			 <div class="form-group col-md-3">
			 	<div class="bfh-datepicker" data-min="{{stdate}}" data-max="{{endate}}" data-date="{{endate}}" data-name="endate" id="endate" data-format="d-m-y"></div>
			 </div>
		-->
		</div>	 	
	 </div>
    </div>    
	<!-- End chart menu/toolbar -->

	<!--  charts and table -->
	<div class="panel-body" id="panel">
		<div id="c_uc34cont" class="row hide">
		<div id="c_uc34title"><p class="bg-primary text-center"><strong></strong></p></div>
		<div class="col-md-5" id="c_uc34chartcont"></div>
		<div class="col-md-4" id="c_uc34donutchart"></div>
		<div class="col-md-3">
		    <div class="panel panel-primary">
		        <div class="panel-heading">{% trans "EFFICIENT USER SUMMARY" %}</div>
		        <ul class="list-group list-group-flush text-center">
		            <li id="c_uc34household" class="list-group-item"></li>
		            <li id="c_uc34occupant" class="list-group-item"></li>
		        </ul>
		    </div>
		    <div class="panel panel-primary">
		        <div class="panel-heading">{% trans "YOUR SUMMARY" %}</div>
		        <ul class="list-group list-group-flush text-center">
		            <li id="c_uc34hhold" class="list-group-item"></li>
		            <li id="c_uc34occup"  class="list-group-item"></li>
		            <li class="list-group-item"><a target="_blank" href={% url 'timeseries_detail' tsid %}>{% trans "Open time series" %}</a></li>
		        </ul>
		    </div>		    
		</div>		
		</div>
			
		<div class="row hide" id="c_uc34container">
			<div id="c_uc34title"><p class="bg-primary text-center"><strong>{% trans "Your last 12 Months bill comparison vs the most efficient household" %}</strong></p></div>	
			<div class="col-md-7" id="c_uc34chart"></div>
			<div class="col-md-5" id="c_uc34summary">
			    <div class="panel panel-primary">
			        <div class="panel-heading">{% trans "EFFICIENT USER SUMMARY" %}</div>
			        <ul class="list-group list-group-flush">
				        <li class="list-group-item" id="c_uc34Yearly"></li>
				        <li class="list-group-item" id="c_uc34Half"></li>
				        <li class="list-group-item" id="c_uc34Quarter"></li>
				        <li class="list-group-item" id="c_uc34Month"></li>
			        </ul>
			    </div>
			    <div class="panel panel-primary">
			        <div class="panel-heading">{% trans "YOUR SUMMARY" %}</div>
			        <ul class="list-group list-group-flush">
				        <li class="list-group-item" id="c_uc34yearly"></li>
				        <li class="list-group-item" id="c_uc34half"></li>
				        <li class="list-group-item" id="c_uc34quarter"></li>
				        <li class="list-group-item" id="c_uc34month"></li>
			            <li class="list-group-item text-center"><a target="_blank" href={% url 'timeseries_detail' tsid %}>{% trans "Open time series" %}</a></li>
			        </ul>
			    </div>				    				
			</div>		
		</div>							
	</div>
	<!--  End charts and table -->	        
</div>
{% endif %}
<!-- End use case 3.4 -->
{% endblock %}