{% load sekizai_tags %}
{% load i18n %}
{% block c_uc3.3 %}
<script type="text/javascript">
var start 	 = dateutil.getdateyear("{{stdate}}");
var end   	 = dateutil.getdateyear("{{endate}}");
var yearlist = dateutil.getyearlist(parseInt(start),parseInt(end));

function uc33Chart(data)
{
	//alert(data[0]["chart"]);
	//alert(JSON.stringify(data["chart"]));
	/*var w = domutil.getdivwidth("c_uc33chart"); //get width of chart div as it changed dynamically due to bootstrap responsive layout
	var dim = {"width":w,"height":450}; //width and height of chart container	
	chartutil.uc32barplot1("#c_uc33chart",dim,data["chart"], data["currency"]);
	
	var values= data["yourdata"]["month"];
	household = values["sum_units"];
	occupant  = values["unit_person"];
	$("#c_uc33month").html("<strong>Over 1 Months Period:</strong><br/><div class='text-primary'>Units consumed for household: "+household+" (m<sup>3</sup>), Units consumed per occupant: "+occupant+" (m<sup>3</sup>)</div>");

	values    = data["yourdata"]["quarter"];
	household = values["sum_units"];
	occupant  = values["unit_person"];
	$("#c_uc33quarter").html("<strong>Over 3 Months Period:</strong><br/><div class='text-primary'>Units consumed for household: "+household+" (m<sup>3</sup>), Units consumed per occupant: "+occupant+" (m<sup>3</sup>)</div>");	

	values    = data["yourdata"]["half"];
	household = values["sum_units"];
	occupant  = values["unit_person"];
	$("#c_uc33half").html("<strong>Over 6 Months Period:</strong><br/><div class='text-primary'>Units consumed for household: "+household+" (m<sup>3</sup>), Units consumed per occupant: "+occupant+" (m<sup>3</sup>)</div>");	

	values    = data["yourdata"]["year"];
	household = values["sum_units"];
	occupant  = values["unit_person"];
	$("#c_uc33yearly").html("<strong>Over 12 Months Period:</strong><br/><div class='text-primary'>Units consumed for household: "+household+" (m<sup>3</sup>), Units consumed per occupant: "+occupant+" (m<sup>3</sup>)</div>");

	//area data
	values    = data["areadata"]["month"];
	occupant  = values["occupant"];
	household = values["avg_units"];	
	$("#c_uc33Month").html("<strong>Over 1 Months Period:</strong><br/><div class='text-muted'>Average consumption per household: "+household+" (m<sup>3</sup>), Average consumption per occupant: "+occupant+" (m<sup>3</sup>)</div>");	

	values    = data["areadata"]["quarter"];
	occupant  = values["occupant"];
	household = values["avg_units"];	
	$("#c_uc33Quarter").html("<strong>Over 3 Months Period:</strong><br/><div class='text-muted'>Average consumption per household: "+household+" (m<sup>3</sup>), Average consumption per occupant: "+occupant+" (m<sup>3</sup>)</div>");

	values    = data["areadata"]["half"];
	occupant  = values["occupant"];
	household = values["avg_units"];	
	$("#c_uc33Half").html("<strong>Over 6 Months Period:</strong><br/><div class='text-muted'>Average consumption per household: "+household+" (m<sup>3</sup>), Average consumption per occupant: "+occupant+" (m<sup>3</sup>)</div>");
	
	values    = data["areadata"]["year"];
	occupant  = values["occupant"];
	household = values["avg_units"];	
	$("#c_uc33Yearly").html("<strong>Over 12 Months Period:</strong><br/><div class='text-muted'>Average consumption per household: "+household+" (m<sup>3</sup>), Average consumption per occupant: "+occupant+" (m<sup>3</sup>)</div>");	
	/*
	data = jQuery.parseJSON("{{uc32chart2|escapejs}}");
	w = domutil.getdivwidth("dmachart2"); //get width of chart div as it changed dynamically due to bootstrap responsive layout
	dim = {"width":w,"height":450}; //width and height of chart container	
	chartutil.uc32barplot1("#dmachart2",dim,data);
	
	data = jQuery.parseJSON("{{uc32chart3|escapejs}}");
	w = domutil.getdivwidth("dmachart3"); //get width of chart div as it changed dynamically due to bootstrap responsive layout
	dim = {"width":w,"height":450}; //width and height of chart container	
	chartutil.uc32barplot1("#dmachart3",dim,data);
	*/
}
$(window).load(function() {
	
	//var data = jQuery.parseJSON("{{c_uc33data|escapejs}}");	
	//if(data==null)
	//	return;	
	
	//reset form when page refresh
	formutil.resetForm('#c_uc33-form');
	// on page load allways set the default selection to reflect display of chart 
	//$("input[name=c_uc33_per][value='days']").prop('checked', 'checked');
	
	domutil.setselect("#c_uc33endyear",yearlist);
	domutil.setselect("#c_uc33styear",yearlist);
	domutil.setselect("#c_uc33_seasonyear",yearlist);	
	//domutil.setselect("#c_uc33endyear",yearlist);
	
	//if(domutil.getradiovalue("#c_uc33_per")!="days")
	//	$("#c_uc33_daterange").hide();	
	
	//c_uc33disabled();
	
	var id = window.location.hash;
    if(domutil.hasCssclass("#c_uc33container","hide") && id=="#cuc33") //tab id value, need to make global to make effective and avoid error
    {
    	domutil.removeCssclass("#c_uc33container","hide");
    	uc33Chart(data);
    }//--end if	 	
});

/*
function c_uc33toggle()
{
	if(domutil.getradiovalue("#c_uc33_per")!="days")
		$("#c_uc33_daterange").hide();	
}*/

//function c_uc33disabled()
function c_uc33toggle()
{
	var radioval = domutil.getradiovalue('c_uc33_per');
	if(radioval=="season")
	{
		domutil.removeCssclass('#c_uc33_season','hide');
		domutil.setCssclass('#c_uc33_daterange','hide');
	}
	else if(radioval=="days")
	{
		domutil.setCssclass('#c_uc33_season','hide');
		domutil.removeCssclass('#c_uc33_daterange','hide');		
	}
	else
	{
		domutil.setCssclass('#c_uc33_daterange','hide');
		domutil.setCssclass('#c_uc33_season','hide');
	}	
	/*
	if ($("#c_uc33select").val()=="winter" || $("#c_uc33select").val()=="summer")
	{
		$('#c_uc33year').show();
		$('.c_uc33period').hide();
		$('#c_uc33_daterange').hide();
	}
	else
	{
		$('#c_uc33year').hide();
		$('.c_uc33period').show();
		if(domutil.getradiovalue("#c_uc33_per")=="days")
			$('#c_uc33_daterange').show();
	}
	*/
}

</script>
{% if c_uc33data|escapejs == "null" %}
<div class="jumbotron">
  <h2>{% trans "Welcome to iWIDGET" %}!</h2>
  <p>{% trans "Not enough data is available for analysis (Consumer use case C_UC3.3)" %}</p>
</div>
{% else %} 
<div class="panel panel-default">
	<!-- chart menu/toolbar -->
	<div class="panel-heading clearfix">
	 <div class="row">
		<div class="col-md-10">
		<div id="c_uc33-msg"></div>
		<form class="form-inline" id="c_uc33-form" role="form" method="POST" action="{% url 'c_uc33' %}">
			{% csrf_token %}  
		<!-- 
		<select id="c_uc33select" class="form-control" required="true" onchange="c_uc33disabled();">		
		<option value="summer">{% trans "Summer" %}</option>
		<option value="winter">{% trans "Winter" %}</option>
		<option value="autumn">{% trans "Autumn" %}</option>
		<option value="spring">{% trans "Spring" %}</option>		
		<option value="night">{% trans "Night Usage" %}</option>
		<option value="day">{% trans "Day usage" %}</option>
		</select>
		<select id="c_uc33year" class="form-control" required="true"></select>
		-->
		<label class="radio inline c_uc33period">
			<input type="radio" name="c_uc33_per" id="c_uc33_per" value="season" onchange="c_uc33toggle();" /> {% trans "Select Season" %}
		</label>		
		<label class="radio inline c_uc33period">
			<input type="radio" name="c_uc33_per" id="c_uc33_per" value="days"  onchange="c_uc33toggle();" /> {% trans "Specify Period" %}
		</label>
		<label class="radio inline c_uc33period">
			<input type="radio" name="c_uc33_per" id="c_uc33_per" value="3" onclick="c_uc33toggle();"/> {% trans "Last 3 Months" %}
		</label>
		<label class="radio inline c_uc33period">
			<input type="radio" name="c_uc33_per" id="c_uc33_per" value="6" onclick="c_uc33toggle();"/> {% trans "Last 6 Months" %}
		</label>		
		<label class="radio inline c_uc33period">
			<input type="radio" name="c_uc33_per" id="c_uc33_per" value="12" onclick="c_uc33toggle();"/> {% trans "Last 12 Months" %}
		</label>	
		<script>
			function compare_uc33() {
				//apputil.sendToserver('#c_uc33-form');
				$("#uc33_compare").load("loaddata_uc_03_3_compare");
			}
		</script>
		<button type="button" class="btn btn-primary" onClick="compare_uc33();">{% trans "Compare" %}</button>
		<script type="text/javascript">
			function load_uc33(username) {
				$("#uc33").load("loaddata_uc_03_3");
			}
		</script>
		{% if not "PT" in request.user.username %}
			<button onclick="load_uc33('{{ request.user.username }}')" class="btn btn-primary" type="button">{% trans "View Charts" %}</button>
		{% endif %}
		</form>     
		</div>
	 </div>
	 <br/>
	 <div class="row" id="_uc33_daterange">
	 	<div class="form-inline col-md-6 hide" id="c_uc33_season">
			<select id="c_uc33_seasons" class="form-control" required="true">
			<option value="summer">{% trans "Summer" %}</option>
			<option value="winter">{% trans "Winter" %}</option>
			<option value="autumn">{% trans "Autumn" %}</option>
			<option value="spring">{% trans "Spring" %}</option>
			</select>
			<select id="c_uc33_seasonyear" class="form-control" required="true"></select>	 				 	
	 	</div>	 
		<div class="form-inline col-md-6 hide" id="c_uc33_daterange">
		 	<div class="form-group">
			<select id="c_uc33stmonth" class="form-control" required="true">
			<option value="1">{% trans "January" %}</option>
			<option value="2">{% trans "February" %}</option>
			<option value="3">{% trans "March" %}</option>
			<option value="4">{% trans "April" %}</option
			<option value="5">{% trans "May" %}</option>
			<option value="6">{% trans "June" %}</option>
			<option value="7">{% trans "July" %}</option>
			<option value="8">{% trans "August" %}</option>
			<option value="9">{% trans "September" %}</option>
			<option value="10">{% trans "October" %}</option>
			<option value="11">{% trans "November" %}</option>
			<option value="12">{% trans "December" %}</option>
			</select>
			</div>
			<div class="form-group">
			<select id="c_uc33styear" class="form-control" required="true">

			</select>			
			</div>
			TO
		 	<div class="form-group">
			<select id="c_uc33endmonth" class="form-control" required="true">
			<option value="1">{% trans "January" %}</option>
			<option value="2">{% trans "February" %}</option>
			<option value="3">{% trans "March" %}</option>
			<option value="4">{% trans "April" %}</option>
			<option value="5">{% trans "May" %}</option>
			<option value="6">{% trans "June" %}</option>
			<option value="7">{% trans "July" %}</option>
			<option value="8">{% trans "August" %}</option>
			<option value="9">{% trans "September" %}</option>
			<option value="10">{% trans "October" %}</option>
			<option value="11">{% trans "November" %}</option>
			<option value="12">{% trans "December" %}</option>
			</select>
			</div>		
		 	<div class="form-group">
			<select id="c_uc33endyear" class="form-control" required="true"></select>
			</div>					
		 <!-- 
			 <div class="form-group col-md-3">
			 <div class="bfh-datepicker" data-min="{{stdate}}" data-max="{{endate}}" data-date="{{stdate}}" data-name="stdate" id="stdate" data-format="d-m-y"></div>
			 </div>
			 <div class="form-group col-md-3">
			 	<div class="bfh-datepicker" data-min="{{stdate}}" data-max="{{endate}}" data-date="{{endate}}" data-name="endate" id="endate" data-format="d-m-y"></div>
			 </div>
		-->
		</div>	 	
	 </div>
    </div>    
	<!-- End chart menu/toolbar -->

	<!--  charts and table -->
	<div class="panel-body" id="panel">
		<div id="uc33_compare"></div>
		{% if not "PT" in request.user.username %}			
			<div id="uc33"></div>
		{% endif %}							
	</div>
	<!--  End charts and table -->	        
</div>
{% endif %}
<!-- End use case 3.3 -->
{% endblock %}