{% load sekizai_tags %}
{% load i18n %}
<script>
	apputil.sendToserver('#c_uc32-form');
</script>

<div id="c_uc32cont" class="row">
	<div id="c_uc32title"><p class="bg-primary text-center"><strong></strong></p></div>
	<div class="col-md-5" id="c_uc32chartcont"></div>
	<div class="col-md-4" id="c_uc32donutchart"></div>
	<div class="col-md-3">
	    <div class="panel panel-primary">
	        <div class="panel-heading">{% trans "AREA SUMMARY" %}</div>
	        <ul class="list-group list-group-flush text-center">
	            <li id="c_uc32household" class="list-group-item"></li>
	            <li id="c_uc32occupant" class="list-group-item"></li>
	        </ul>
	    </div>
	    <div class="panel panel-primary">
	        <div class="panel-heading">{% trans "YOUR SUMMARY" %}</div>
	        <ul class="list-group list-group-flush text-center">
	            <li id="c_uc32hhold" class="list-group-item"></li>
	            <li id="c_uc32occup"  class="list-group-item"></li>
	            <li class="list-group-item"><a target="_blank" href={% url 'timeseries_detail' tsid %}>{% trans "Open time series page" %}</a></li>
	        </ul>
	    </div>		    
	</div>		
</div>