{% load sekizai_tags %}
{% load i18n %}
<script>
	/*var data = jQuery.parseJSON("{{c_uc52data|escapejs}}");
	var w = domutil.getdivwidth("c_uc52chartcont"); //get width of chart div as it changed dynamically due to bootstrap responsive layout
	var dim = {"width":w,"height":450}; //width and height of chart container

	var currency = data["currency"];
	alert("template: " + currency);
	chartutil.c_uc52linechart("#c_uc52chartcont",dim,data["tariff1"],data["tariff2"], currency);
	
	w = domutil.getdivwidth("c_uc52compchart"); //get width of chart div as it changed dynamically due to bootstrap responsive layout
	dim = {"width":w,"height":450}; //width and height of chart container
	
	chartutil.c_uc52comparechart("#c_uc52compchart",dim,data["comparechart"], currency);
	
	var stdate = JSON.stringify(data["tariff1"][0].Date);
	var endate = JSON.stringify(data["tariff1"][1].Date);

	stdate = dateutil.strtodate(stdate.substring(1,stdate.length-1)); //create date object
	endate = dateutil.strtodate(endate.substring(1,endate.length-1)); //create date object
	
	$("#styear").val(stdate.getFullYear()); 	//set the dropdown value
	$("#stmonth").val(stdate.getMonth()+1); 	//set the dropdown value 
	$("#endyear").val(endate.getFullYear()); 	//set the dropdown value
	$("#endmonth").val(endate.getMonth()+1);	//set the dropdown value
	
	//add title
	$("#c_uc52title").html('<p class="bg-primary text-center"><strong>'+data["title"]+'</strong></p>');
	
	//adding chart details (tariff1)
	$("#c_uc52t1sum").html("Total: £"+data["tariff1data"]["sum"]);
	$("#c_uc52t1avg").html("<div class='text-warning'>Average Per Month: £"+data["tariff1data"]["avg"]+"</div>");
	$("#c_uc52t1high").html("<div class='text-danger'>Highest: £"+data["tariff1data"]["high"]["max"]+" in "+data["tariff1data"]["high"]["date"]+"</div>");
	$("#c_uc52t1low").html("<div class='text-success'>Lowest: £"+data["tariff1data"]["low"]["min"]+" in "+data["tariff1data"]["low"]["date"]+"</div>");

	
	//adding chart details (tariff2)
	$("#c_uc52t2sum").html("Total: £"+data["tariff2data"]["sum"]);
	$("#c_uc52t2avg").html("<div class='text-warning'>Average Per Month: £"+data["tariff2data"]["avg"]+"</div");	
	$("#c_uc52t2high").html("<div class='text-danger'>Highest: £"+data["tariff2data"]["high"]["max"]+" in "+data["tariff2data"]["high"]["date"]+"</div");
	$("#c_uc52t2low").html("<div class='text-success'>Lowest: £"+data["tariff2data"]["low"]["min"]+" in "+data["tariff2data"]["low"]["date"]+"</div");*/
	
	// Remove the message asking the user to select a period.
	$("#init_prompt52").remove();
	apputil.sendToserver('#c_uc52-form');
</script>

<div class="row" id="c_uc52container">
<div id="c_uc52title"><p class="bg-primary text-center"><strong></strong></p></div>
<div class="col-md-6" id="c_uc52chartcont"></div>
<div class="col-md-3" id="c_uc52compchart"></div>	  
<div class="col-md-3">
          <strong>* {% trans "You are subscribed to Tariff1" %}</strong>
    <div class="panel panel-primary hide" id="panel52_t1">
        <div class="panel-heading">{% trans "Tariff1 (Cost Summary)" %}
        </div>
        <ul class="list-group list-group-flush text-center">
        	<li class="list-group-item" id="c_uc52t1sum"></li>
            <li class="list-group-item" id="c_uc52t1avg"></li>
            <li class="list-group-item" id="c_uc52t1high"></li>
            <li class="list-group-item" id="c_uc52t1low"></li>
            <li class="list-group-item"><a target="_blank" href="{% url 'timeseries_detail' tsid %}">{% trans "Open time series" %}</a></li>
        </ul>
    </div>

    <div class="panel panel-primary hide" id="panel52_t2">
        <div class="panel-heading">{% trans "Tariff2 (Cost Summary)" %}

        </div>
        <ul class="list-group list-group-flush text-center">
        	<li class="list-group-item" id="c_uc52t2sum"></li>
            <li class="list-group-item" id="c_uc52t2avg"></li>
            <li class="list-group-item" id="c_uc52t2high"></li>
            <li class="list-group-item" id="c_uc52t2low"></li>
            <li class="list-group-item"><a target="_blank" href="{% url 'timeseries_detail' tsid %}">{% trans "Open time series" %}</a></li>
        </ul>
    </div>
</div>
</div>
<div class="row hide c_uc52containe">
	<div class="col-md-6" id="c_uc52donutchart"></div>
		</div>			