{% extends "base.html" %}
{% load i18n %}
{% load general_tags %}
{% block pagetitle %}{% trans "Control Panel" %}{% endblock %}
{% block pagecontent %}

    <script>

    </script>

    <div class="col-md-3"></div>
    <div class="col-md-6">

        <div id="profile-panel" class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">{% trans "User Information" %} </div>
            </div>
            <div class="panel-body" style="padding: 50px;">
                <h3 class="text-center">{% trans "Password Reset Form" %}</h3>
                <h4 class="text-center" style="margin: 40px auto;">{% trans "Please, write the email you would like to receive your credentials." %}</h4>
                {% for message in messages %}
                    <div id="profile-msg" class="text-center" style="color: indianred">{{ message }}</div>
                {% endfor %}
                <form class="form-horizontal" accept-charset="UTF-8" action="{% url 'reset_form' %}" method="POST" role="form" id="signup-form">
                    {% csrf_token %}
                    <div class="form-group">
                        <label class="col-md-4 control-label">{% trans "Email" %}: </label>
                        <div class="col-md-6"><input class="form-control" placeholder="e-mail" name="email" id="email" type="email" value="{{ email }}" required="true"></div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-4 col-md-12">
                            <button type="button" class="btn btn-lg btn-primary col-md-4" onClick="$('#signup-form').submit()">
                                <span class="glyphicon glyphicon-floppy-disk"></span> {% trans "Submit" %}
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div> <!-- profile-panel -->
    </div>
    <div class="col-md-3"></div>
{% endblock %}
