{% extends "base.html" %}
{% load i18n %}
{% load general_tags %}
{% block pagetitle %}{% trans "Control Panel" %}{% endblock %}
{% block pagecontent %}

<script>

</script>

<div class="col-md-3"></div>
<div class="col-md-6">

    <div id="profile-panel" class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title">{% trans "STEP 1/2" %} </div>
        </div>
        <div class="panel-body" style="padding: 50px;">
            <h3 class="text-center">{% trans "Welcome to the iWIDGET Platform." %}</h3>
            <h4 class="text-center">{% trans "Please, fill in the details that have been delivered to you!" %}</h4>
            {% for message in messages %}
                <div id="profile-msg" class="text-center" style="color: indianred">{{ message }}</div>
            {% endfor %}
            <form class="form-horizontal" style="margin-bottom: 40px;" accept-charset="UTF-8" action="{% url 'signup' %}" method="POST" role="form" id="signup-form">
                {% csrf_token %}
                <div class="form-group">
                    <label class="col-md-2 control-label">{% trans "Meter Id" %}: *</label>
                    <div class="col-md-4"><input class="form-control" placeholder="Meter Id..." name="mid" id="mid" type="text" value="" required="true"></div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">{% trans "Keypass" %}: *</label>
                    <div class="col-md-4"><input class="form-control" placeholder="Keypass..." name="key" id="key" type="text" value="" required="true"></div>
                </div>
                <p class="text-warning text-center">{% trans "Required" %} (*)</p>
                <div class="form-group">
                    <div class="col-md-offset-4 col-md-12">
                        <button type="button" class="btn btn-lg btn-primary col-md-4" onClick="$('#signup-form').submit()">
                            <span class="glyphicon glyphicon-floppy-disk"></span> {% trans "Submit" %}
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div> <!-- profile-panel -->

</div>
<div class="col-md-3"></div>
{% endblock %}

