{% extends "base.html" %}
{% load i18n %}
{% load general_tags %}
{% block pagetitle %}{% trans "Control Panel" %}{% endblock %}
{% block pagecontent %}

    <script>

    </script>

    <div class="col-md-3"></div>
    <div class="col-md-6">

        <div id="profile-panel" class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">{% trans "User Information" %} </div>
            </div>
            <div class="panel-body" style="padding: 50px;">
                <h3 class="text-center">{% trans "Welcome to the iWIDGET Platform." %}</h3>
                <h4 class="text-center">{% trans "Please, fill in the required information!" %}</h4>
                {% for message in messages %}
                    <div id="profile-msg" class="text-center" style="color: indianred">{{ message }}</div>
                {% endfor %}
                <form class="form-horizontal" accept-charset="UTF-8" action="{% url 'user_profile' %}" method="POST" role="form" id="signup-form">
                    {% csrf_token %}
                    <input type="hidden" name="t" value="{{ user_id }}">
                    <div class="form-group" style="margin-top: 40px">
                        <label class="col-md-4 control-label">{% trans "First Name" %}: </label>
                        <div class="col-md-6"><input class="form-control" placeholder="First name..." name="first" id="first" type="text" value="{{ first }}" required="true"></div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">{% trans "Last Name" %}: </label>
                        <div class="col-md-6"><input class="form-control" placeholder="Last name..." name="last" id="last" type="text" value="{{ last }}" required="true"></div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">{% trans "Email" %}: </label>
                        <div class="col-md-6"><input class="form-control" placeholder="(in case you forget your password...)" name="email" id="email" type="email" value="{{ email }}" required="true"></div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">{% trans "Occupants in your Household" %}: *</label>
                        <div class="col-md-6"><input class="form-control" placeholder="Number of occupants..." name="nocc" id="nocc" type="text" value="{{ nocc }}" required="true"></div>
                    </div>
                    <p class="text-warning text-center">{% trans "Required" %} (*)</p>
                    <div class="form-group">
                        <div class="col-md-offset-4 col-md-12">
                            <button type="button" class="btn btn-lg btn-primary col-md-4" onClick="$('#signup-form').submit()">
                                <span class="glyphicon glyphicon-floppy-disk"></span> {% trans "Submit" %}
                            </button>
                        </div>
                    </div>
                    <p class="text-warning text-center"><a href="{% url 'dashboard' %}" style="color: #eee">{% trans "I will provide my details, next time!" %}</a></p>
                </form>
            </div>
        </div> <!-- profile-panel -->

    </div>
    <div class="col-md-3"></div>
{% endblock %}
