{% load i18n %}
{% load sekizai_tags %}
{% load general_tags %}
<div class="col-md-12">
    <div class="panel panel-default">
        <div class="panel-heading">{% trans "LIST OF YOUR WATER RELATED SOCKETS" %}</div>
        <div class="panel-body">
            {% for socket in sockets %}
                <div class="row">
                    <div class="col-md-6">
                        <h3 style="color: #444; font-weight: Bold;">{{ socket.label }}</h3>
                    </div>
                    <div class="col-md-2">
                        <h3 style="color: #444">{{ socket.consumption }} kWh</h3>
                    </div>
                    <div class="col-md-4">
                        <button type="button" id="id_{{ socket.name }}" class="btn btn-lg btn-primary device-buttons" onClick="toggleAndFetchDeviceList('sockets', '{{ username }}', '{{ socket.name }}', '{{ socket.next }}');">
                            <span class="glyphicon glyphicon-signal"></span> {% trans "Switch " %} {{ socket.next }}
                        </button>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>


<script>

    function toggleAndFetchDeviceList(type, username, name, next){
        // did = device id
        // next = next state
        $("#id_" + name).prop("disabled", true);
        $("#_devices").load('{% url "uc_06_1_get" request.user.username %}?d=' + name +'&n=' + next + '&t=' + type);
    }

    $("#fetch_button").prop("disabled", false);
    $(".device-buttons").prop("disabled", false);
</script>