{% load i18n %}
<div id="c_uc31cont" class="row">
    <div id="c_uc31title"><p class="bg-primary text-center"><strong>{{ title }}</strong></p></div>
    <div class="col-md-12" id="placeholder" style="width: 100%; height: 300px; margin-bottom: 80px"> </div>
</div>
{% if total_data2 %}
    <div class="row">
        <div><p class="bg-primary text-center"><strong>{{ title2 }}</strong></p></div>
        <div class="col-md-12" id="placeholder2" style="width: 100%; height: 300px; margin-bottom: 80px"> </div>
    </div>
{% endif %}
<div class="row">
    <div class="col-md-6">
        <h4>1. {{ title }}</h4>
        <table class="table">
            <tr>
                <th>
                    {% trans "Measurement Period" %}
                </th>
                <th>
                    {% trans "Total Consumption" %}
                </th>
                {% if view == "day_night"  %}
                    <th>
                        {% trans "Day Consumption" %}
                    </th>
                    <th>
                        {% trans "Night Consumption" %}
                    </th>
                {% endif %}
            </tr>
            {% for d in cons_table_data %}
                <tr>
                    <td>
                        {{ d.0 }}
                    </td>
                    <td>
                        {{ d.1|floatformat:2 }} {% if "cost" in step %} &euro; {% else %} m&#179; {% endif %}
                    </td>
                    {% if view == "day_night"  %}
                        <td>
                            {{ d.3|floatformat:2 }} {% if "cost" in step %} &euro; {% else %} m&#179; {% endif %}
                        </td>
                        <td>
                            {{ d.2|floatformat:2 }} {% if "cost" in step %} &euro; {% else %} m&#179; {% endif %}
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
    </div>
    {% if cons_table_data2 %}
        <div class="col-md-6">
            <h4>2. {{ title2 }}</h4>
            <table class="table">
                <tr>
                    <th>
                        {% trans "Measurement Period" %}
                    </th>
                    <th>
                        {% trans "Total Consumption" %}
                    </th>
                    {% if view == "day_night"  %}
                        <th>
                            {% trans "Day Consumption" %}
                        </th>
                        <th>
                            {% trans "Night Consumption" %}
                        </th>
                    {% endif %}
                </tr>
                {% for d in cons_table_data2 %}
                    <tr>
                        <td>
                            {{ d.0 }}
                        </td>
                        <td>
                            {{ d.1|floatformat:2 }} {% if "cost" in step %} &euro; {% else %} m&#179; {% endif %}
                        </td>
                        {% if view == "day_night"  %}
                            <td>
                                {{ d.3|floatformat:2 }} {% if "cost" in step %} &euro; {% else %} m&#179; {% endif %}
                            </td>
                            <td>
                                {{ d.2|floatformat:2 }} {% if "cost" in step %} &euro; {% else %} m&#179; {% endif %}
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% endif %}
</div>
<div class="row">
    {% if view == "day_night" %}
        <div class="col-md-6" id="pie" style="width: 40%; height: 400px; padding-top: 40px; margin-top: 40px">

        </div>
        {% if day_total2 and night_total2 %}
            <div class="col-md-6" id="pie2" style="width: 40%; height: 400px; padding-top: 40px; margin-top: 40px">

            </div>
        {% endif %}
    {% endif %}
</div>
<script>
    var previousPoint = null;
    $.fn.UseTooltip = function () {
        $(this).bind("plothover", function (event, pos, item) {
            if (item) {
                if (previousPoint != item.dataIndex) {
                    previousPoint = item.dataIndex;

                    $("#tooltip").remove();

                    var x = item.datapoint[0];
                    var y = item.datapoint[1];

                    showTooltip(item.pageX, item.pageY,
                                    "Water Consumption was: <br/><strong>" + y + "</strong> (" + item.series.label + ")");
                }
            }
            else {
                $("#tooltip").remove();
                previousPoint = null;
            }
        });
    };

    function showTooltip(x, y, contents) {
        $('<div id="tooltip">' + contents + '</div>').css({
            position: 'absolute',
            display: 'none',
            top: y + 5,
            left: x + 20,
            border: '2px solid #4572A7',
            padding: '2px',
            size: '10',
            'border-radius': '6px 6px 6px 6px',
            'background-color': '#fff',
            opacity: 0.80
        }).appendTo("body").fadeIn(200);
    }
    $("#placeholder").UseTooltip();
    $("#placeholder2").UseTooltip();

    {% if view == 'summer_winter' %}
        $.plot("#placeholder", [
                { label: " - Summer Consumption in m&#179;", data: [ [1, {{ summer_total|floatformat:2 }}] ] },
                { label: " - Winter Consumption in m&#179;", data: [ [2, {{ winter_total|floatformat:2 }}] ] }
            ],
            {
                series: {
                    bars: {
                        show: true,
                        align: "center",
                        fill: true,
                        barWidth: 0.6
                    }
                },
                xaxis: {
                    min: 0,
                    max: 5,
                    ticks: [
                        [1, "Summer" ], [ 2, "Winter" ]
                     ],
                    tickDecimals: 0
                },
                yaxis: {
                    ticks: 10,
                    min: 0,
                    max: {{ max_val }},
                    tickDecimals: 5
                },
                grid: {
                    hoverable: true,
                    clickable: false,
                    backgroundColor: { colors: [ "#fff", "#eee" ] },
                    borderWidth: {
                        top: 1,
                        right: 1,
                        bottom: 2,
                        left: 2
                    }
                }
            });
        {% if summer_total2 and winter_total2 %}
            $.plot("#placeholder2", [
                        { label: " - Summer Consumption in m&#179;", data: [ [1, {{ summer_total2|floatformat:2 }}] ] },
                        { label: " - Winter Consumption in m&#179;", data: [ [2, {{ winter_total2|floatformat:2 }}] ] }
                    ],
                    {
                        series: {
                            bars: {
                                show: true,
                                align: "center",
                                fill: true,
                                barWidth: 0.6
                            }
                        },
                        xaxis: {
                            min: 0,
                            max: 5,
                            ticks: [
                                [1, "Summer" ], [ 2, "Winter" ]
                            ],
                            tickDecimals: 0
                        },
                        yaxis: {
                            ticks: 10,
                            min: 0,
                            max: {{ max_val }},
                            tickDecimals: 5
                        },
                        grid: {
                            hoverable: true,
                            clickable: false,
                            backgroundColor: { colors: [ "#fff", "#eee" ] },
                            borderWidth: {
                                top: 1,
                                right: 1,
                                bottom: 2,
                                left: 2
                            }
                        }
                    });
        {% endif %}
    {% else %}
        total_label = " - Total Consumption in m&#179;";
        night_label = " - Night Consumption in m&#179;";
        day_label = " - Day Consumption in m&#179;";

        {% if "cost" in step %}
            total_label = " - Total Consumption in &euro;";
            night_label = " - Night Consumption in &euro;";
            day_label = " - Day Consumption in &euro;";
        {% endif %}

        {% if total_data2 %}
            $.plot("#placeholder2", [
                { label: total_label, data: {{ total_data2 }} },
                {% if view == 'day_night' %}
                    { label: night_label, data: {{ night_data2 }} },
                    { label: day_label, data: {{ day_data2 }} }
                {% endif %}
                ],
                {
                    series: {
                        lines: { show: true },
                        points: { show: true }
                    },
                    xaxis: {
                        /*            ticks: [
                         [1, "Jan" ], [ 2, "Feb" ],
                         ],*/
                        ticks: [
                            {% for tick in ticks2 %}
                                [{{ tick.0 }}, "{{ tick.1 }}"],
                            {% endfor %}
                        ],
                        tickDecimals: 0
                    },
                    yaxis: {
                        ticks: 10,
                        min: 0,
                        max: {{ max_val2 }},
                        tickDecimals: 2
                    },
                    grid: {
                        hoverable: true,
                        clickable: false,
                        backgroundColor: { colors: [ "#fff", "#eee" ] },
                        borderWidth: {
                            top: 1,
                            right: 1,
                            bottom: 2,
                            left: 2
                        }
                    }
                });
            {% endif %}

        $.plot("#placeholder", [
            { label: total_label, data: {{ total_data }} },
            {% if view == 'day_night' %}
                { label: night_label, data: {{ night_data }} },
                { label: day_label, data: {{ day_data }} }
            {% endif %}
            ],
            {
            series: {
                lines: { show: true },
                points: { show: true }
            },
            xaxis: {
    /*            ticks: [
                    [1, "Jan" ], [ 2, "Feb" ],
                ],*/
                ticks: [
                    {% for tick in ticks %}
                        [{{ tick.0 }}, "{{ tick.1 }}"],
                    {% endfor %}
                ],
                tickDecimals: 0
            },
            yaxis: {
                ticks: 10,
                min: 0,
                max: {{ max_val }},
                tickDecimals: 2
            },
            grid: {
                hoverable: true,
                clickable: false,
                backgroundColor: { colors: [ "#fff", "#eee" ] },
                borderWidth: {
                    top: 1,
                    right: 1,
                    bottom: 2,
                    left: 2
                }
            }
        });
    {% endif %}

    {% if view == "day_night" %}
        var pie_data = [
            { label: "{% trans 'Night Consumption' %}",  data: {{ night_total }}, color: "#7580cc" },
            { label: "{% trans 'Day Consumption' %}",  data: {{ day_total }}, color: "#cc823d"}
        ];

        var pie_chart = $("#pie");

        $.plot(pie_chart, pie_data, {
            series: {
                pie: {
                    show: true
                }
            },
            legend: {
                show: false
            }
        });
        {% if day_total2 and night_total2 %}
            var pie_data2 = [
                { label: "{% trans 'Night Consumption' %}",  data: {{ night_total2 }}, color: "#7580cc" },
                { label: "{% trans 'Day Consumption' %}",  data: {{ day_total2 }}, color: "#cc823d"}
            ];

            var pie_chart2 = $("#pie2");

            $.plot(pie_chart2, pie_data2, {
                series: {
                    pie: {
                        show: true
                    }
                },
                legend: {
                    show: false
                }
            });
        {% endif %}
    {% endif %}


    {% if step == "15min" %}
        $(".flot-x-axis .flot-tick-label").addClass("x-axis-rotate");
    {% endif %}
</script>

