{% load sekizai_tags %}
{% load i18n %}

{% addtoblock "css" %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/custom_uc03_01.css">
{% endaddtoblock %}
<div class="panel panel-default">
    <!-- chart menu/toolbar -->
    <div class="panel-heading clearfix" id="">
        <div class="row">
            <div class="pull-right col-md-1">
                <img src="{{STATIC_URL}}/images/pdf.png" alt="Export to PDF" title="Export to PDF" /><img src="{{STATIC_URL}}/images/save.png" alt="Save Raw Data" title="Save Raw Data" />
            </div>

            <div class="col-md-3">
                <p><strong>{% trans "Choose Interval Type" %}</strong></p>
                <select class="chart-selector form-control" name="resolution1" id="resolution1" onchange="toggleDeserialization();">
                    <option value="15min" {% if action == "15min" %}selected{% endif %}>{% trans "Fifteen minute (1 day only)" %}</option>
                    <option value="hourly" {% if action == "hourly" %}selected{% endif %}>{% trans "Hourly (1 day only)" %}</option>
                    <option value="daily" {% if action == "daily" %}selected{% endif %}>{% trans "Daily" %}</option>
                    <option value="daily_capita" {% if action == "daily_capita" %}selected{% endif %}>{% trans "Daily Per Capita" %}</option>
                    <option value="monthly" {% if action == "monthly" %}selected{% endif %}>{% trans "Monthly" %}</option>
                    <option value="monthly_capita" {% if action == "monthly_capita" %}selected{% endif %}>{% trans "Monthly Per Capita" %}</option>
{#                    <option value="monthly_cost" {% if action == "monthly_cost" %}selected{% endif %}>{% trans "Monthly Cost" %}</option>#}
                </select>
            </div>
            <div class="col-md-3">
                <div id="res37" class="des2">
                    <p><strong>{% trans "Choose Data Resolution" %}</strong></p>
                    <select class="chart-selector form-control" name="resolution2" id="resolution2" onchange="togglePeriod()">
                        <option value="total" {% if action2 == "total" %}selected{% endif %}>{% trans "Total" %}</option>
                        <option value="day_night" {% if action2 == "day_night" %}selected{% endif %}>{% trans "Day / Night" %}</option>
                        <option id="only10" value="summer_winter" {% if action2 == "summer_winter" %}selected{% endif %}>{% trans "Summer / Winter" %}</option>
                    </select>
                </div>
            </div>
            <div class="col-md-3">
                <p>{% trans "Click button to view charts" %}</p>
                <button onclick="fetchCharts('{{ request.user.username }}')" class="btn btn-primary" type="button">{% trans "Compare" %}</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" id="prd_sw">
                <p><strong>{% trans "Please Select Period" %}</strong></p>
                <label>
                    <input type="radio" id="period_sw" checked="checked" name="period_sw" value="0" onclick="hideYearSW()"/>{% trans "This Year" %}
                </label>
                <label>
                    <input type="radio" id="period_sw" name="period_sw" value="1" onclick="hideYearSW();"  />{% trans "Previous Year" %}
                </label>
                <label>
                    <input type="radio" id="period_sw" name="period_sw" value="custom1" onclick="showYearSW1();" />{% trans "Specify Period" %}
                </label>
                <label>
                    <input type="radio" id="period_sw" name="period_sw" value="custom2" onclick="showYearSW2()" />{% trans "Specify Two Periods" %}
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" id="prd_day">
                <p><strong>{% trans "Please Select Period" %}</strong></p>
                <label>
                    <input type="radio" id="period_d" checked="checked" name="period_d" value="7days" onclick="hideCalendars()"/>{% trans " Last 7 Days" %}
                </label>
                <label>
                    <input type="radio" id="period_d" name="period_d" value="month" onclick="hideCalendars()"  />{% trans "Last Month Days" %}
                </label>
                <label>
                    <input type="radio" id="period_d" name="period_d" value="custom1" onclick="showCalendar1();" />{% trans "Specify Period" %}
                </label>
                <label>
                    <input type="radio" id="period_d" name="period_d" value="custom2" onclick="showCalendar2()" />{% trans "Specify Two Periods" %}
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" id="prd_mon">
                <p><strong>{% trans "Please Select Period" %}</strong></p>
                <label>
                    <input type="radio" id="period_m" checked="checked" name="period_m" value="3" onclick="hideDateYear()"/>{% trans "Last 3 Months" %}
                </label>
                <label>
                    <input type="radio" id="period_m" name="period_m" value="6" onclick="hideDateYear()"  />{% trans "Last 6 Months" %}
                </label>
                <label>
                    <input type="radio" id="period_m" name="period_m" value="12" onclick="hideDateYear()" />{% trans "Last 12 Months" %}
                </label>
                <label>
                    <input type="radio" id="period_m" name="period_m" value="custom1" onclick="showDateYear1();" />{% trans "Specify Period" %}
                </label>
                <label>
                    <input type="radio" id="period_m" name="period_m" value="custom2" onclick="showDateYear2()" />{% trans "Specify Two Periods" %}
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" id="prd_hrly">
                <p><strong>{% trans "Please Select Period" %}</strong></p>
                <label>
                    <input type="radio" id="period_h" checked="checked" name="period_h" value="today" onclick="hideSelectDay()"/> {% trans "Today" %}
                </label>
                <label>
                    <input type="radio" id="period_h" name="period_h" value="yesterday" onclick="hideSelectDay()"  /> {% trans "Yesterday" %}
                </label>
                <label>
                    <input type="radio" id="period_h" name="period_h" value="custom1" onclick="showSelectDay1();" /> {% trans "Specify Day" %}
                </label>
                <label>
                    <input type="radio" id="period_h" name="period_h" value="custom2" onclick="showSelectDay2()" /> {% trans "Compare Two Days" %}
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 select_day" id="select_day1">
                <div class="form-group">
                    {% trans "Select Day" %}:
                    <div class="bfh-datepicker" data-time="now" data-name="date" id="day1" data-format="y-m-d"></div>
                </div>
            </div>
            <div class="col-md-3 select_day" id="select_day2">
                <div class="form-group">
                    {% trans "Select Day" %}:
                    <div class="bfh-datepicker" data-time="now" data-name="date" id="day2" data-format="y-m-d"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 date_yr" id="date_year1">
                <div class="form-inline col-md-6" id="c_uc31_daterange">
                    {% comment %}Translators: Context -> FROM January TO February {% endcomment %}
                    {% trans "FROM" %}
                    <div class="form-group">
                        <select id="c_uc31stmonth" class="form-control" required="true">
                            <option value="1">{% trans "January" %}</option>
                            <option value="2">{% trans "February" %}</option>
                            <option value="3">{% trans "March" %}</option>
                            <option value="4">{% trans "April" %}</option>
                            <option value="5">{% trans "May" %}</option>
                            <option value="6">{% trans "June" %}</option>
                            <option value="7">{% trans "July" %}</option>
                            <option value="8">{% trans "August" %}</option>
                            <option value="9">{% trans "September" %}</option>
                            <option value="10">{% trans "October" %}</option>
                            <option value="11">{% trans "November" %}</option>
                            <option value="12">{% trans "December" %}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <select id="c_uc31styear" class="form-control" required="true"></select>
                    </div>
                    {% comment %}Translators: Context -> FROM January TO February {% endcomment %}
                    {% trans "TO" %}
                    <div class="form-group">
                        <select id="c_uc31endmonth" class="form-control" required="true">
                            <option value="1">{% trans "January" %}</option>
                            <option value="2">{% trans "February" %}</option>
                            <option value="3">{% trans "March" %}</option>
                            <option value="4">{% trans "April" %}</option>
                            <option value="5">{% trans "May" %}</option>
                            <option value="6">{% trans "June" %}</option>
                            <option value="7">{% trans "July" %}</option>
                            <option value="8">{% trans "August" %}</option>
                            <option value="9">{% trans "September" %}</option>
                            <option value="10">{% trans "October" %}</option>
                            <option value="11">{% trans "November" %}</option>
                            <option value="12">{% trans "December" %}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <select id="c_uc31endyear" class="form-control" required="true"></select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 my_cal" id="calendar1">
                <div class="form-group">
                    {% trans "Select Day" %}:
                    <div class="bfh-datepicker" data-time="now" data-name="date" id="from1" data-format="y-m-d"></div>
                </div>
                <div class="form-group">
                    {% trans "Select 2nd Day" %}:
                    <div class="bfh-datepicker" data-time="now" data-name="date" id="to1" data-format="y-m-d"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 my_cal" id="calendar2">
                <div class="form-group">
                    {% trans "Select Day" %}:
                    <div class="bfh-datepicker" data-time="now" data-name="date" id="from2" data-format="y-m-d"></div>
                </div>
                <div class="form-group">
                    {% trans "Select 2nd Day" %}:
                    <div class="bfh-datepicker" data-time="now" data-name="date" id="to2" data-format="y-m-d"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 sw_year" id="sw_year1">
                <div class="form-group">
                    <div class="form-group col-md-3">
                        {% comment %}Translators: Context -> FROM January TO February {% endcomment %}
                        <p>{% trans "From" %}: <select id="c_uc31swyear1from" class="form-control"></select></p>
                    </div>
                    <div class="form-group col-md-3">
                        {% comment %}Translators: Context -> FROM January TO February {% endcomment %}
                        <p>{% trans "To" %}: <select id="c_uc31swyear1to" class="form-control"></select></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 sw_year" id="sw_year2">
                <div class="form-group">
                    <div class="form-group col-md-3">
                        {% comment %}Translators: Context -> FROM January TO February {% endcomment %}
                        <p>{% trans "From" %}: <select id="c_uc31swyear2from" class="form-control"></select></p>
                    </div>
                    <div class="form-group col-md-3">
                        {% comment %}Translators: Context -> FROM January TO February {% endcomment %}
                        <p>{% trans "To" %}: <select id="c_uc31swyear2to" class="form-control"></select></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 date_yr" id="date_year2">
                <div class="form-inline col-md-6" id="c_uc31_daterange">
                    {% comment %}Translators: Context -> FROM January TO February {% endcomment %}
                    {% trans "FROM" %}
                    <div class="form-group">
                        <select id="c_uc31stmonth2" class="form-control" required="true">
                            <option value="1">January</option>
                            <option value="2">February</option>
                            <option value="3">March</option>
                            <option value="4">April</option>
                            <option value="5">May</option>
                            <option value="6">June</option>
                            <option value="7">July</option>
                            <option value="8">August</option>
                            <option value="9">September</option>
                            <option value="10">October</option>
                            <option value="11">November</option>
                            <option value="12">December</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <select id="c_uc31styear2" class="form-control" required="true"></select>
                    </div>
                    {% comment %}Translators: Context -> FROM January TO February {% endcomment %}
                    {% trans "TO" %}
                    <div class="form-group">
                        <select id="c_uc31endmonth2" class="form-control" required="true">
                            <option value="1">January</option>
                            <option value="2">February</option>
                            <option value="3">March</option>
                            <option value="4">April</option>
                            <option value="5">May</option>
                            <option value="6">June</option>
                            <option value="7">July</option>
                            <option value="8">August</option>
                            <option value="9">September</option>
                            <option value="10">October</option>
                            <option value="11">November</option>
                            <option value="12">December</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <select id="c_uc31endyear2" class="form-control" required="true"></select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-body" id="chart_panel">

    </div>
</div>
    <script>
        $(".des2").hide();
        $("#prd_mon").hide();
        $("#prd_hrly").hide();
        $("#prd_day").hide();
        $("#prd_sw").hide();
        $(".date_yr").hide();
        $(".my_cal").hide();
        $(".sw_year").hide();
        $('.select_day').hide();
        toggleDeserialization(); // update in case of refresh!

        function fetchCharts(username){
            var step = $("#resolution1").val();
            var view = $("#resolution2").val();
            var period_m = $("input[name=period_m]:checked").val();
            var period_d = $("input[name=period_d]:checked").val();
            var period_sw = $("input[name=period_sw]:checked").val();
            var period_h = $("input[name=period_h]:checked").val();
            var stmonth1 = $("#c_uc31stmonth").val();
            var styear1 = $("#c_uc31styear").val();
            var endmonth1 = $("#c_uc31endmonth").val();
            var endyear1 = $("#c_uc31endyear").val();
            var stmonth2 = $("#c_uc31stmonth2").val();
            var styear2 = $("#c_uc31styear2").val();
            var endmonth2 = $("#c_uc31endmonth2").val();
            var endyear2 = $("#c_uc31endyear2").val();
            var sw_styear1 = $("#c_uc31swyear1from").val();
            var sw_endyear1 = $("#c_uc31swyear1to").val();
            var sw_styear2 = $("#c_uc31swyear2from").val();
            var sw_endyear2 = $("#c_uc31swyear2to").val();

            var day1 = $("#day1").val();
            var day2 = $("#day2").val();
            var from1 = $("#from1").val(); //daily from (date value)
            var to1 = $("#to1").val(); //daily to (date value)
            var from2 = $("#from2").val(); //daily from (date value)
            var to2 = $("#to2").val(); //daily to (date value)
            $("#chart_panel").empty().load("/uc_03_1/compare/" + username + "/?ajax=&step=" + step + "&view=" + view + "&period_m="
                    + period_m + "&stm1=" + stmonth1 + "&sty1=" + styear1 + "&endm1=" + endmonth1 + "&endy1=" + endyear1+ "&stm1="
                    + stmonth1 + "&sty1=" + styear1 + "&endm1=" + endmonth1 + "&endy1=" + endyear1 + "&sty1="
                    + styear1 + "&endm1=" + endmonth1 + "&endy1=" + endyear1+ "&stm2=" + stmonth2 + "&sty2=" + styear2 + "&period_sw=" + period_sw
                    + "&sw_styr1=" + sw_styear1 + "&sw_endyr1=" + sw_endyear1+ "&sw_styr2=" + sw_styear2 + "&sw_endyr2=" + sw_endyear2 + "&day1=" + day1 +"&day2=" + day2
                    + "&endm2=" + endmonth2 + "&endy2=" + endyear2 + "&period_d=" + period_d + "&from1=" + from1 + "&to1=" + to1 + "&period_h=" + period_h + "&from2=" + from2 + "&to2=" + to2);
        }

        function toggleDeserialization(){
            $(".des2").hide();
            var val = $('#resolution1').val();
            if (val == 'hourly' || val == '15min'){
                $("#prd_hrly").show();
            }else{
                $("#prd_hrly").hide();
                hideSelectDay();
            }
            if (val == 'daily' || val == 'daily_capita' || val == 'monthly' || val == 'monthly_capita' || val == 'monthly_cost'){
                $("#res37").show();
            }
            if (val == 'monthly' || val == 'monthly_capita' || val == 'monthly_cost'){
                $("#only10").show();
            }else{
                $("#only10").hide();
                $("#resolution2").val('total');
                $("#prd_sw").hide();
            }
            //show period if applicable, too
            togglePeriod();
        }


        function togglePeriod(){
            $("#prd_mon").hide();
            $("#prd_day").hide();
            $("#prd_sw").hide();
            $(".date_yr").hide();
            $(".my_cal").hide();
            $('.sw_year').hide();
            var val1 = $('#resolution1').val();
            var val2 = $('#resolution2').val();
            if ((val1 == 'monthly' || val1 == 'monthly_capita' || val1 == 'monthly_cost') && (val2 == 'total' || val2 == 'day_night')){
                $("#prd_mon").show();
            }
            if ((val1 == 'daily' || val1 == 'daily_capita')){
                $("#prd_day").show();
                $("#prd_sw").hide();
            }
            if ((val2 == 'summer_winter')){
                $("#prd_sw").show();
            }
        }

        function hideDateYear(){
            $(".date_yr").hide();
        }

        function hideYearSW(){
            $(".sw_year").hide();
        }

        function showYearSW2(){
            $(".sw_year").hide();
            $("#sw_year1").show();
            $("#sw_year2").show();
        }
        function showYearSW1(){
            $(".sw_year").hide();
            $("#sw_year1").show();
        }

        function showDateYear1(){
            $(".date_yr").hide();
            $("#date_year1").show();
        }

        function showDateYear2(){
            $(".date_yr").hide();
            $("#date_year1").show();
            $("#date_year2").show();
        }

        function hideCalendars(){
            $(".my_cal").hide();
        }

        function showCalendar1(){
            $(".my_cal").hide();
            $("#calendar1").show();
        }

        function showCalendar2(){
            $(".my_cal").hide();
            $("#calendar1").show();
            $("#calendar2").show();
        }

        function hideSelectDay(){
            $(".select_day").hide();
        }

        function showSelectDay1(){
            $(".select_day").hide();
            $("#select_day1").show();
        }

        function showSelectDay2(){
            $(".select_day").hide();
            $("#select_day1").show();
            $("#select_day2").show();
        }
    </script>
